<!DOCTYPE html>
<html lang="en">
<head>
  <title>Web CheckIn</title>
  <link rel="stylesheet" href= "{{ url_for('static',filename='styles/style.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  {% block content1 %}
  {% endblock %}
</body>
<script>
  {% block content2 %}
  {% endblock %}
</script>
</html>
