{% extends "base.html" %}
  {% block content1 %}
    <div id="chatWindow">
    </div>
  {% endblock %}
  {% block content2 %}
    var block_to_insert ;
    var container_block ;

    block_to_insert = document.createElement('div');
    block_to_insert.innerHTML = `<div class="container">
                                  <img src="/w3images/bandmember.jpg" alt="Avatar">
                                  <p>{{question}}</p>
                                  <span class="time-right">11:00</span>
                                  </div>` ;

    container_block = document.getElementById('chatWindow');
    container_block.appendChild( block_to_insert );
  {% endblock %}
</html>
