{% extends "base.html" %}
  {% block content1 %}
  <div>
    {% if type == 0 %}
      <a href=chatbot_r_0><button type="button" class="btn btn-primary">Next</button></a>
    {% endif %}
    {% if type == 1 %}
      <a href=chatbot_r_1><button type="button" class="btn btn-primary">Next</button></a>
      <ol>
      {% for name in doctors %}
        <li>{{name}}</li>
      {% endfor %}
      <ol>
    {% endif %}
    {% if type == 2 %}
      <a href=chatbot_r_2><button type="button" class="btn btn-primary">Next</button></a>
      <div>
        <h1>Details - </h1>
        <h1>Name: {{aptmnt['Name']}}</h1>
        <h1>Age: {{aptmnt['Age']}}</h1>
        <h1>Sex: {{aptmnt['Sex']}}</h1>
        <h1>Doctor: {{aptmnt['Doctor']}}</h1>
        <h1>Token: {{aptmnt['Token']}}</h1>
      </div>
    {% endif %}
  </div>
  {% endblock %}
  {% block content2 %}
      <script>
        console.log("{{data}}")
        document.body.innerHTML += `<p>{{data}}</p>`;
      </script>
  {% endblock %}
